* {
    margin: 0;
    font-family:  "Century Gothic", "sans-serif"; 
}

header{
    font-family:  "Century Gothic", "sans-serif"; 
}
a{    
    color: black;
    
}
.menu2 {
    width: 96%;
}
header li{
      float : right;
}
li {
    padding: 5px;
    border-radius: 10%;
    list-style: none;
    margin-top: 1%;    
    display: inline-block;
}
li:hover {
    background: silver;
    cursor: pointer;
    transition: all 300ms;
}

